body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 100%;
  margin-top: 200px;
  padding: 0 15px;
}

.search-form {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  background-color: rgba(47, 85, 238, 0.75);
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 2;
  top: 0;
  left: 0;
}

.search-form input {
  font-size: 20px;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 400px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 0;
  padding: 30px 15px;
}

.photo-card {
  flex: 0 0 calc(25% - 30px);
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  color: #333;
}

.photo-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.info-item {
  flex: 0 0 calc(50% - 10px);
  margin: 5px 0;
  font-size: 14px;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}
